#{$page-container} {
  $container-style: fluid;
  @include container($total-columns, $pad);
}
html, body {
	height: 100%;
	color: $global-font-color;
}

.wrap {
	height: 100%;
	margin: 0 auto;
	.open-menu & {
		overflow: hidden;
	}
}

.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: $menu-off-canvas-width;
}

.main {
	position: relative;
	left: 0;
	z-index: 2;
	min-height: 100%;
	background: image-url("light_wool.png") repeat;
	@include transition(left .3s);
	.open-menu & {
		left: $menu-off-canvas-width;
	}
}

.content, .container {
	margin-top: -1px;
	padding-top: 1px;
}

@include at-breakpoint($desktop) {
	#{$page-container} {
		$container-style: magic;
		@include set-container-width;
	}
	.inner-container {
		margin: 0 auto;
		@include set-container-width;
	}
	.wrap {
    .open-menu & {
      overflow: visible;
    }
  }
	.menu {
		position: static;
		width: auto;
		margin: 0 auto;
		@include set-container-width;
	}
	.main {
		position: static;
	}
}