// legislator-intro.html
.avatar {
	float: left;
	margin: 0 rhythm(.5) rhythm(.5) 0;
	@include at-breakpoint($desktop) {
	  margin-top: rhythm(.5);
	}
}
// video-intro.html
.legislator-name {
	@extend %anti-break;
}