%helvetica-light {
  font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

%songti {
  font-family: "songti TC", "Hiragino Mincho Pro", serif;
  font-weight: bold;
}

body {
  @extend %helvetica-light;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#{headings()} {
  @include reset-box-model;
  @include adjust-font-size-to($font-size-XXL);
  @extend %helvetica-light;
}

a {
  @include unstyled-link;
  @include link-colors($link-color, $link-color-hover);
}

p {
  @include reset-box-model;
  // @include trailer(1);
}
