// Layout and typography ==================================
// - SUSY basic setting
$total-columns   								 : 4;
$column-width    								 : 4em;
$gutter-width    								 : 2em;
$grid-padding    								 : 1em;

// - Media for responsive layout
$wide-mobile-columns      			 : 6;
$wide-mobile-break        			 : 500px;
$wide-mobile              		 	 : $wide-mobile-break $wide-mobile-columns;

$pad-columns      							 : 12;
$pad-break        							 : 650px;
$pad              							 : $pad-break $pad-columns;

$desktop-columns 								 : 12;
$desktop-break   								 : 900px;
$desktop         								 : $desktop-break $desktop-columns;

// - Vertical rhythm
$base-font-size       					 : 16px;
$base-line-height     					 : 24px;
$relative-font-sizing 					 : false;

// - Font setting
$font-family-sans-serif 				 : "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
$font-size-EL             			 : $base-font-size * 4.5;		// 64px
$font-size-UL 									 : $base-font-size * 3;			// 48px
$font-size-XXL             			 : $base-font-size * 2;			// 32px
$font-size-XL              			 : $base-font-size * 1.5;		// 24px
$font-size-L               			 : $base-font-size * 1.25;	// 20px
$font-size-M               			 : $base-font-size * 1;			// 16px
$font-size-S               			 : $base-font-size * .8125;	// 13px
$font-size-XS              			 : $base-font-size * .75;		// 12px

// - Compass setting
$legacy-support-for-ie 					 : false;
$grid-background-baseline-height : $base-line-height;

// - Class variable
$page-container 								 : ".container";


// Prototyping color ======================================
$pte-black             					 : #333333;
$pte-black-light 								 : #424242;
$pte-gray-dark   								 : #63635C;
$pte-gray              					 : #757570;
$pte-gray-light  								 : #92928A;
$pte-lightgray-dark 						 : #B7B5B0;
$pte-lightgray 									 : #E7E7E5;
$pte-red-dark    								 : #A70000;
$pte-red               					 : #880013;
$pte-red-light   								 : #E70000;
$pte-blue-dark   								 : #1934FF;
$pte-blue              					 : #2874FF;
$pte-blue-light  								 : #3C9AFF;
$pte-green 			 								 : #DFED48;
$pte-green-light 								 : #FAFFE3;
$pte-yellow-light 							 : #FFFBE1;

// - Prototyping Transparent color
$pte-black-15 									 : rgba(black, .15);
$pte-black-25 									 : rgba(black, .25);
$pte-black-50 									 : rgba(black, .5);

// - Layout debug color
$grid-background-column-color 	 : rgba(#f15a14, .2);
$grid-background-baseline-color  : rgba(#009a8e, .3);

// Ci color ===============================================

// Global color ===========================================
$global-divider 								 : $pte-lightgray;
$global-title-color 						 : $pte-black-light;
$global-content-color 					 : $pte-black;
$global-font-color 							 : $pte-black;
$global-image-holder-color 			 : $pte-black;

// Layouts ================================================
// - news
$news-post-note-background 			 : $pte-yellow-light;

// Partials ===============================================
// - body
$body-background 								 : $pte-lightgray;

// - link
$link-color 										 : $global-content-color;
$link-color-hover 							 : lighten($global-content-color, 20%);
// $link-color-active

// - header
$header-background       				 : $pte-red;
$header-font-color       				 : white;
$header-font-color-hover 				 : darken(white, .2);

// - menu
$menu-background 								 : $pte-red;
$menu-btn-size        					 : 60px;
$menu-btn-bar-width   					 : 24px;
$menu-btn-bar-height  					 : 2px;
$menu-btn-bar-spacing 					 : 6px;
$menu-btn-bar-color 					 	 : white;
$menu-btn-bar-shadow-color 			 : $pte-black-50;
$menu-link-color 								 : white;
$menu-off-canvas-width 					 : 260px;
$menu-off-canvas-background 		 : $pte-black;

// - content
$content-background 						 : #FCFAF9;

// - title
$title-block-background 				 : #EFEDEB;
$title-mega-font-size 					 : $font-size-UL - 4px;
$title-font-size 								 : $font-size-XXL - 4px;
$title-sub-font-size 						 : $font-size-L;
$title-small-font-size 					 : $font-size-M;
$title-color 										 : $pte-black;
$title-mask-background 					 : linear-gradient(to right, rgba(#EFEDEB, .9) 25%, rgba(#EFEDEB, 0) 65% );

// - article
$article-font-size 							 : $font-size-M;

// - hero
$hero-content-color 						 : white;

// - page-header
$page-header-font-size 					 : $font-size-UL;
$page-header-font-size-large 		 : $font-size-EL;
$page-header-content-color 			 : white;
$page-header-text-shadow 				 : $pte-black-light;
$page-header-top-divider 				 : $global-divider;
$page-header-mask-background 		 : linear-gradient(to top, rgba(black, .75) 0, rgba(black, 0) 100% );

// - video-header
$video-header-font-size 				 : $font-size-XL;
$video-header-font-size-large 	 : $font-size-XXL;
$video-header-content-color 		 : white;
$video-header-text-shadow 			 : $pte-black-light;
$video-header-top-divider 			 : $global-divider;
$video-header-mask-background 	 : linear-gradient(to top, rgba(black, .75) 0, rgba(black, 0) 100% );

// - list
$list-label-color 							 : $pte-gray-light;
$list-content-color 						 : $pte-black;
$list-font-size 								 : $font-size-M;
$list-font-size-mobile 					 : $font-size-S;
$list-sub-font-size 						 : $font-size-S;
$list-sub-font-size-mobile 	 		 : $font-size-XS;
$list-no-border-offset-fix 			 : 1px;
$list-broadcast-background 			 : $pte-green-light;

// - pagination
$pagination-switch-background 	 : $pte-black;
$pagination-switch-color 	 			 : white;

// - gallery
$gallery-play-icon-size 				 : 48px;
$gallery-play-icon-offset 			 : $gallery-play-icon-size / 2;
$gallery-play-icon-background 	 : $pte-black;
$gallery-play-icon-color 				 : white;
$gallery-item-background 				 : black;
$gallery-item-info-color 				 : $pte-black;
$gallery-item-date-color 				 : $pte-gray-light;
$gallery-top-number-size 				 : 144px;
$gallery-top-number-size-small 	 : 72px;

// - video
$video-main-divider 						 : $global-divider;

// - avatar
$avatar-photo-width		 					 : 100px;
$avatar-photo-width-large				 : 250px;

// - collapse
$collapse-toggle-divider 				 : $global-divider;
$collapse-content-hider 				 : linear-gradient(to top, rgba($content-background, 1) 15%, rgba($content-background, .5) 50%, rgba($content-background, 0) 100% );
$collapse-btn-color 						 : $pte-black;
$collapse-btn-color-hover 			 : $pte-lightgray;
$collapse-btn-background 			 	 : $pte-lightgray;
$collapse-btn-background-hover 	 : rgba($pte-black, .85);

// - button
$button-background 							 : $content-background;
$button-background-hover 				 : $pte-black;
$button-color 									 : $pte-black;
$button-color-hover 						 : $content-background;

// - tag
$tag-broadcast-background 			 : $pte-green;
$tag-now-background 						 : $pte-red;
$tag-now-color 									 : white;

// - input

// - footer
$footer-background-color 				 : $pte-lightgray;
$footer-color 									 : $pte-gray;

// - other
$no-content-msg-color 					 : $pte-gray;
