.article {
	@include trailer(1);
	@include adjust-font-size-to($article-font-size);
	@include at-breakpoint($desktop) {
		@include span-columns(8);
	}
  h1, h2, h3, h4 {
    @include leader(1);
    @include trailer(1);
  }
  h1 {
    @include adjust-font-size-to(28px);
  }
  h2 {
    @include adjust-font-size-to(24px, 1.35);
  }
  a {
    color: $pte-blue;
    &:hover {
      color: $pte-blue-light;
    }
  }
  hr {
    border: none;
    border-top: 1px solid $global-divider;
    margin-bottom: 24px;
  }
  &.center {
    position: relative;
    @include pie-clearfix;
    @include at-breakpoint($desktop) {
      @include squish(2,2);
    }
  }
  table {
    tr:nth-child(even) {
      background-color: #F3F1EA;
    }
    td {
      padding: 2px 3px;
    }
  }
  img {
    @include leader(1);
    @include trailer(1);
  }
  @include at-breakpoint($pad) {
    table {
      td {
        padding: 4px 6px;
      }
    }
  }
}