.avatar-group {
	@include pie-clearfix;
	.avatar-photo {
		width: 100px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.avatar-info-group {
	@include pie-clearfix;
}

.avatar {
	float: left;
	margin: 0 rhythm(1) rhythm(1) 0;
	text-align: center;
	&:hover {
		text-decoration: none;
	}
	.avatar-info {
		margin-top: rhythm(.25);
		.avatar-party {
			display: inline-block;
			width: 30px;
			height: 23px;
			vertical-align: middle;
		}
		.avatar-name {
			padding-left: rhythm(.25);
			@include adjust-font-size-to($font-size-M);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.avatar-single {
	width: 100%;
	@include pie-clearfix;
	text-align: center;
	@include at-breakpoint($pad) {
		@include leader(1);
		@include span-columns(3, $total_columns);
	  text-align: left;
	}
	.avatar {
		float: none;
		width: 100%;
		margin: 0 0 rhythm(2) 0;
		display: inline-block;
		@include at-breakpoint($pad) {
		  float: left;
		  margin: 0 rhythm(1) rhythm(1) 0;
		}
	}
	.avatar-photo {
		img {
			width: 250px;
			height: auto;
			@include at-breakpoint($pad) {
			  width: 100%;
			}
		}
	}
}

.avatar-intro {
	@include at-breakpoint($pad) {
		@include span-columns(9 omega);
	}
}
.avatar-highlight {
	@include at-breakpoint($pad) {
		@include span-columns(12 omega);
	}
	@include at-breakpoint($desktop) {
		@include span-columns(9 omega);
	}
}