.avatar-group {
	@include trailer(1);
	text-align: center;
	@include pie-clearfix;
	.avatar-photo {
		position: relative;
		width: 100px;
		height: 0;
		padding-top: 133%;
		background-color: $global-image-holder-color;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			@include border-radius(5px);
		}
	}
}

.avatar-info-group {
	@include pie-clearfix;
}

.avatar {
	display: inline-block;
	margin: rhythm(.45);
	text-align: center;
	@include at-breakpoint($wide-mobile) {
	  float: left;
	  margin: 0 rhythm(.9) rhythm(.9) 0;
	}
	&:hover {
		text-decoration: none;
	}
	.avatar-info {
		margin-top: rhythm(.5);
		.avatar-party {
			display: inline-block;
			width: 30px;
			height: 24px;
			margin-top: -4px;
			vertical-align: middle;
		}
		.avatar-name {
			padding-left: rhythm(.25);
			@include adjust-font-size-to($font-size-M - 1px);
		}
	}
}

.avatar-single {
	width: 100%;
	@include pie-clearfix;
	text-align: center;
	@include at-breakpoint($pad) {
		@include span-columns(3, $total_columns);
	  text-align: left;
	}
	.avatar {
		float: none;
		width: 100%;
		margin: 0 0 rhythm(2) 0;
		display: inline-block;
		@include at-breakpoint($pad) {
		  float: left;
		  margin: 0 rhythm(1) rhythm(1) 0;
		}
	}
	.avatar-photo {
		img {
			width: 250px;
			height: auto;
			@include border-radius(5px);
			@include at-breakpoint($pad) {
			  width: 100%;
			}
		}
	}
}

.avatar-intro {
	@include at-breakpoint($pad) {
		@include span-columns(9 omega);
	}
	@include at-breakpoint($desktop) {
		@include span-columns(5);
	}
}
.avatar-highlight {
	@include at-breakpoint($pad) {
		@include span-columns(12 omega);
	}
	@include at-breakpoint($desktop) {
		@include span-columns(4 omega);
	}
}
