.block {
	position: relative;
	@include trailer(2);
	@include pie-clearfix;
	@include at-breakpoint($pad) {
		@include trailer(1);
	}
	&.divider {
		@include padding-trailer(.5);
		border-bottom: 1px solid $global-divider;
		&:last-child {
			border-bottom: none;
		}
	}
}

.half-block {
	position: relative;
	@include trailer(1);
	@include pie-clearfix;
	@include at-breakpoint($desktop) {
	  @include span-columns(6);
	  &:nth-child(2n) {
	  	@include span-columns(6 omega);
	  }
	}
}

