.button-box {
	text-align: center;
	// @include at-breakpoint($desktop) {
	//   text-align: left;
	// }
}

.button {
	display: inline-block;
	position: relative;
	padding: rhythm(.5) rhythm(1.5);
	@include adjust-font-size-to($button-font-size);
	color: $button-color;
	background-color: $button-background;
	border: 1px solid $button-color;
	@include transition(all ease-in .1s);
	&:hover {
		color: $button-color-hover;
		background-color: $button-background-hover;
		border: 1px solid $button-color-hover;
	}
}
