.collapse {
  height: 175px;
  overflow-y: hidden;
}
.topic-content.collapse {
	height: 0;
}
.collapsing {
	overflow-y: hidden;
	@include transition(height .5s ease-in-out);
}
.collapse-toggle {
	position: absolute;
	bottom: -#{rhythm(.5)};
	width: 100%;
	height: rhythm(4);
	margin-top: rhythm(1);
	text-align: center;
	border-bottom: 1px solid $collapse-toggle-divider;
	background-image: $collapse-content-hider;
	pointer-events: none;
	.collapse-toggle-button {
		position: absolute;
		bottom: 0;
		margin-left: -#{rhythm(1.25)};
		padding: rhythm(.15) rhythm(.5);
		@include adjust-font-size-to($font-size-S);
		text-decoration: none;
		pointer-events: auto;
		color: $collapse-btn-color;
		background-color: $collapse-btn-background;
		@include border-radius(5px 5px 0 0);
		&:hover {
			color: $collapse-btn-color-hover;
			background-color: $collapse-btn-background-hover;
			@include transition(all ease-in .1s);
		}
	}
	.in + & {
		background-image: none;
	}
}

.collapse-content {
	padding-top: 1px;
	margin-top: -1px;
	@include pie-clearfix;
}
