.filter {
	@include padding-trailer(.25);
	text-align: right;
	border-bottom: 1px solid $global-divider;
	.filter-select {
		position: relative;
		display: inline-block;
		padding-right: rhythm(.5);
		vertical-align: top;
	}
	.search {
		padding: rhythm(0) rhythm(.35);
		color: $pte-red;
		@include adjust-font-size-to($font-size-S);
		vertical-align: bottom;
		background: transparent;
		border: 1px solid $pte-red;
		@include border-radius(3px);
		@include transition(.3s);
		&:hover {
			color: white;
			background: $pte-red;
		}
	}
	.word {
		display: inline-block;
		margin: 0 rhythm(.15);
	}
}