.gallery {
	@include pie-clearfix;
	&.single-col .gallery-item {
		@include at-breakpoint($wide-mobile) {
	  	width: columns(6, $total-columns);
	  	@include trailer(1);
		}
		@include at-breakpoint($pad) {
		  width: columns(12, $total-columns);
		}
		@include at-breakpoint($desktop) {
		  width: columns(12, $total-columns);
		}
	}
	&.double-col .gallery-item {
		@include at-breakpoint($pad) {
			width: columns(6, $total-columns);
			margin: 0 gutter($total-columns) gutter($total-columns) 0;
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				@include trailer(1);
				margin-right: 0;
			}
		}
		@include at-breakpoint($desktop) {
		  width: columns(6, $total-columns);
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				@include trailer(1);
				margin-right: 0;
			}
		}
	}
	&.quad-col .gallery-item {
		@include at-breakpoint($pad) {
			width: columns(3, $total-columns);
			margin: 0 gutter($total-columns) gutter($total-columns) 0;
			&:nth-child(4n) {
				margin-right: 0;
			}
			&:last-child {
				@include trailer(1);
				margin-right: 0;
			}
		}
		@include at-breakpoint($desktop) {
		  width: columns(3, $total-columns);
			&:nth-child(4n) {
				margin-right: 0;
			}
			&:last-child {
				@include trailer(1);
				margin-right: 0;
			}
		}
	}
}

.gallery-item {
	position: relative;
	display: block;
	margin: 0 -#{$grid-padding};
	vertical-align: top;
	&:hover {
		text-decoration: none;
	}
	&:last-child {
		@include trailer(1);
	}
	.gallery-photo {
		position: relative;
		padding-top: 56.2%;
		height: 0;
		background-color: $gallery-item-background;
	}
	img {
		position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  // height: 100%;
	}
	.play-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: $gallery-play-icon-size;
		height: $gallery-play-icon-size;
		margin-top: -$gallery-play-icon-offset;
		margin-left: -$gallery-play-icon-offset;
		background-color: rgba($gallery-play-icon-background, .75);
		@include border-radius($gallery-play-icon-offset);
		@include transition( background-color, ease-in, .2s );
		.play-triangle {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0px;
			height: 0px;
			margin-top: -8px;
			margin-left: -5px;
			@include hide-text;
			border: 8px solid transparent;
			border-right: 0px solid transparent;
			border-left: 14px solid $gallery-play-icon-color;
		}
	}
	&:hover .play-icon {
		background-color: rgba($gallery-play-icon-background, 1);
	}
	.gallery-item-info {
		float: none;
		padding: 0 rhythm(1.5);
		@include padding-leader(.5);
		color: $gallery-item-info-color;
		@include at-breakpoint($wide-mobile) {
		  padding: 0;
		};
		.gallery-item-sub {
			color: $gallery-item-date-color;
			@include adjust-font-size-to($font-size-S);
			font-weight: bold;
			&.position {
				color: $pte-red;
				@include adjust-font-size-to($font-size-XL, 2);
				font-weight: normal;
			}
		}
		.gallery-item-title {
			margin-bottom: rhythm(1);
			@include ellipsis;
			@include at-breakpoint($wide-mobile) {
			  margin-bottom: rhythm(0);
			}
		}
	}
	@include at-breakpoint($wide-mobile) {
		float: left;
		width: columns(3, $total-columns);
		margin: 0 gutter($total-columns) gutter($total-columns) 0;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:last-child {
			@include trailer(1);
			margin-right: 0;
		}
	}
	@include at-breakpoint($pad) {
		width: columns(4, $total-columns);
		margin: 0 gutter($total-columns) gutter($total-columns) 0;
		&:nth-child(2n) {
			margin: 0 gutter($total-columns) gutter($total-columns) 0;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:last-child {
			@include trailer(1);
			margin-right: 0;
		}
	}
	@include at-breakpoint($desktop) {
		width: columns(4, $total-columns);
		margin: 0 gutter($total-columns) gutter($total-columns) 0;
		&:last-child {
			@include trailer(1);
			margin-right: 0;
		}
	}
}

.top-number {
	position: absolute;
	bottom: 0;
	right: 0;
	@include adjust-font-size-to($gallery-top-number-size);
	font-weight: bold;
	opacity: .15;
	&.small {
		padding: 0 rhythm(.5);
		@include adjust-font-size-to($gallery-top-number-size-small, 3);
		color: black;
	}
}

.gallery.single-col {
	.gallery-photo {
		@include at-breakpoint($desktop) {
		  width: columns(8);
		  padding-top: 37.25%
		}
	}
	.gallery-item-info {
		@include at-breakpoint($desktop) {
			width: columns(4);
		  position: absolute;
			top: 0;
			right: 0;
			.gallery-item-title {
				white-space: normal;
			}
		}
	}
}

// for gallery in hero
.page-header .gallery-item-title {
	color: white;
}