.hero {
	text-align: center;
	color: $hero-content-color;
	margin-top: -#{rhythm(2)};
	padding-top: rhythm(2);
	background: black url(/images/index-hero.jpg) top center no-repeat;
	@include background-size(cover);
	.hero-title {
		position: relative;
		display: inline-block;
		@include leader(3);
		@include trailer(1);
		font-family: "songti TC", "Hiragino Mincho Pro", serif;
		@include adjust-font-size-to($font-size-EL, 3.5);
		font-weight: bold;
		@include text-shadow(0px 1px 2px $hero-text-shadow);
	}
	.hero-content {
		position: relative;
		display: block;
		@include leader(1);
		@include trailer(3);
		@include adjust-font-size-to($font-size-XL);
		@include text-shadow(0px 1px 2px $hero-text-shadow);
	}
}