.hero { 
	position: relative;
	text-align: center;
	border-top: 1px solid $hero-top-divider;
	.hero-title {
		position: relative;
		display: inline-block;
		@include leader(2);
		@include trailer(2);
		@include padding-trailer(.25);
		@include adjust-font-size-to($font-size-EL, 3.5);
		color: $hero-content-color;
		font-weight: bold;
		@include text-shadow(0px 1px 2px $hero-text-shadow);
		@mixin pseudo-title-line($position) {
			display: block;
			position: absolute;
			$position: 0;
			left: 0;
			width: 100%;
			height: 3px;
			content: "";
			background: $hero-content-color;
			@include box-shadow(0px 1px 1px lighten($hero-text-shadow, 25%));
		}
		&:before {
			@include pseudo-title-line(top);
		}
		&:after {
			@include pseudo-title-line(bottom);
		}
	}
	.hero-content {
		display: block;
		@include leader(1);
		@include trailer(1.5);
		padding: 0 rhythm(1);
		color: $hero-content-color;
		@include text-shadow(0px 1px 2px $hero-text-shadow);
	}
	.hero-title + .hero-content {
		@include leader(0);
	}
}

.hero-dark-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 0;
	width: 100%;
	background: $hero-dark-gradient-background;
}