.menu {
	background-color: $menu-off-canvas-background;
	.nav {
		list-style: none;
		@include reset-box-model;
		@include at-breakpoint($desktop) {
			float: right;
		}
		li {
			@include at-breakpoint($desktop) {
				float: left;
			}
			&.active {
				background-color: lighten($menu-background, 10%);
			}
		}
		li + li {
			border-top: 1px solid lighten($menu-off-canvas-background, 10%);
			@include at-breakpoint($desktop) {
			  	border-top: none;
			}
		}
		a {
			display: block;
			padding: 18px 12px;
			color: $menu-link-color;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
