.pills-wrap {
	text-align: center;
	@include at-breakpoint($wide-mobile) {
		text-align: left;
	}
}
.nav-pills {
	padding-left: 0;
	list-style: none;
	text-align: center;
	@include pie-clearfix;
	@include at-breakpoint($wide-mobile) {
	  text-align: left;
	}
}
.pill-panel {
	display: none;
	&.active {
		display: block;
	}
}
.fade {
	opacity: 0;
	@include transition(opacity, .15s);
	&.in {
		opacity: 1;
	}
}
.tabs {
	display: inline-block;
	overflow: hidden;
	padding: 2px;
	border: 1px solid $global-divider;
	@include border-radius(5px);
	li {
		float: left;
		@include adjust-font-size-to($font-size-XS);
		@include at-breakpoint($wide-mobile) {
		  @include adjust-font-size-to($font-size-M);
		}
		a {
			display: inline-block;
			padding: rhythm(.35) rhythm(.5);
			&:hover {
				color: $pills-normal-font-color;
			}
		}
		&:first-child a {
			@include border-radius(5px 0 0 5px);
		}
		&:last-child a {
			@include border-radius(0 5px 5px 0);
		}
		&.active a {
			color: white;
			background: $pills-active-font-color;
		}
	}
}