.post-group {
	@include clearfix;
}
.post-item {
	float: left;
	width: columns(4, $total-columns);
	overflow: hidden;
	margin: gutter($total-columns);
	margin-left: 0;
	text-align: left;
	background: rgb(242, 242, 238);
	border-bottom: 3px solid $pte-red;
	@include box-shadow( inset 0 0 10px rgba( black, .1) );
	@include transition(.2s);
	@include transform(scale(.95));
	&:hover {
		@include transform(scale(1));
	}
	@include at-breakpoint($wide-mobile) {
	  width: columns(3, $total-columns);
	  margin: 0 gutter($total-columns) gutter($total-columns) 0;
	  &:nth-child(2n) {
	  	margin-right: 0;
	  }
	}
	@include at-breakpoint($pad) {
	  width: columns(4, $total-columns);
	  margin: 0 gutter($total-columns) gutter($total-columns) 0;
	  &:nth-child(2n) {
		  margin-right: gutter($total-columns);
		}
	  &:nth-child(3n) {
	  	margin-right: 0;
	  }
	}
	@include at-breakpoint($desktop) {
	  width: columns(4, $total-columns);
	  margin: 0 gutter($total-columns) gutter($total-columns) 0;
	  &:nth-child(2n) {
		  margin-right: gutter($total-columns);
		}
	  &:nth-child(3n) {
	  	margin-right: 0;
	  }
	}
	.post-date {
		padding: 0 2.5%;
		color: $pte-gray;
		@include adjust-font-size-to($font-size-S);
	}
	.post-title {
		padding: 0 2.5% 2.5%;
		@include adjust-font-size-to($font-size-M);
	}
	.post-photo {
		text-align: center;
		img {
			padding: 2.5%;
			width: 95%;
		}
	}
}