$i: 100;
@while $i > 0 {
  .col-#{$i} {
  	width: $i * 1% - 1.5%;
  	padding-right: 1.5%;
  }
  $i: $i - 5;
}

.table {
	border-bottom: 1px solid $global-divider;
}

.table-head, .table-row {
	display: table;
	width: 100%;
	@include padding-leader(.5);
	@include padding-trailer(.5);
	border-top: 1px solid $global-divider;
}
.table-row:nth-child(odd) {
	background: $pte-yellow-light;
}

.field {
	display: table-cell;
	vertical-align: middle;
	@include adjust-font-size-to($list-font-size-mobile);
	&.center {
		text-align: center;
	}
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($list-font-size);
		letter-spacing: 0;
	}
}
