%title-style {
	@include trailer(.5);
	color: $title-color;
}
.title-block {
	position: relative;
	padding: rhythm(.5) 0;
	background: $title-block-background;
	@include background-size(cover);
	& .title {
		@include leader(.5);
	}
}
.title-block + .container {
	@include leader(1);
}
.title-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: $title-mask-background;
}
.title {
	position: relative;
	@extend %title-style;
	@include adjust-font-size-to($title-font-size);
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-font-size + 4px);
	}
}

.sub-title {
	@extend %title-style;
	@include adjust-font-size-to($title-sub-font-size);
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-sub-font-size + 4px);
	}
}

.small-title {
	@extend %title-style;
	@include adjust-font-size-to($title-small-font-size + 2px);
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-small-font-size + 4px);
	}
}

.mega-title {
	@extend %title-style;
	@include adjust-font-size-to($title-mega-font-size);
	&.center {
		text-align: center;
	}
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-mega-font-size + 4px);
	}
}

.title-extra-link {
	display: inline-block;
	margin-left: rhythm(.25);
	@include adjust-font-size-to($font-size-M);
	&:before {
		content: "/";
		margin-right: rhythm(.25);
	}
}

.title-label {
	display: block;
	@include adjust-font-size-to($font-size-L);
	a {
		color: $title-label-color;
		&:hover {
			color: $link-color-hover;
		}
	}
}
