%title-style {
	@include leader(1);
	@include trailer(1);
	color: $title-color;
}
.title-block {
	position: relative;
	background: $title-block-background;
	@include background-size(cover);
}
.title-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: $title-mask-background;
}
.title {
	position: relative;
	@extend %title-style;
	@include adjust-font-size-to($title-font-size);
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-font-size + 4px);
	}
}

.sub-title {
	@extend %title-style;
	@include adjust-font-size-to($title-sub-font-size);
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-sub-font-size + 4px);
	}
}

.small-title {
	@include leader(1);
	@include trailer(1);
	color: $title-color;
	@include adjust-font-size-to($title-small-font-size);
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-small-font-size + 4px);
	}
}

.mega-title {
	@extend %title-style;
	@include leader(1);
	@include adjust-font-size-to($title-mega-font-size);
	&.center {
		text-align: center;
	}
	@include at-breakpoint($pad) {
		@include adjust-font-size-to($title-mega-font-size + 4px);
	}
	@include at-breakpoint($desktop) {
	  @include leader(1);
		@include trailer(1);
	}
}

.title-label {
	display: block;
	@include adjust-font-size-to($font-size-L);
	color: $pte-gray-light;
}