.video {
	@include trailer(1.5);
	@include padding-leader(.5);
	@include at-breakpoint($wide-mobile) {
	  background: black image-url("live_background.jpg") top center repeat-x;
	  padding-bottom: rhythm(2);
	}
	.container {
		position: relative;
		.word-left {
			position: absolute;
			top: 70px;
			left: -140px;
			width: 135px;
			height: 600px;
			background: image-url("live-word-left.png") no-repeat;
		}
		.word-right {
			position: absolute;
			top: 70px;
			right: -140px;
			width: 135px;
			height: 600px;
			background: image-url("live-word-right.png") no-repeat;
		}
	}
}
.video-title {
	padding: rhythm(.5) 0;
	@include at-breakpoint($wide-mobile) {
		& a {
			color: white;
		}
	}
}
.video-single {
	max-width: 750px;
	@include trailer(1);
	padding: 5px;
	background: black;
}
.video-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 75%;
	iframe, object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.video-chat {
	overflow: hidden;
	text-align: center;
	@include trailer(1);
	padding: 3px 0;
	background: white;
	@include border-radius(3px);
	iframe {
		min-width: 300px;
		max-width: 640px;
		width: 100%;
		min-height: 335px;
		max-height: 540px;
		height: auto;
		@include at-breakpoint($pad) {
		  min-height: 540px;
		}
	}
}
