.video-single {
	max-width: 640px;
	margin: rhythm(1) auto;
}
.video-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 75%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}