.presenter {
	@include leader(1);
	@include trailer(.5);
	@include padding-trailer(.5);
	text-align: center;
	border-bottom: 1px solid $global-divider;
	@include pie-clearfix;
	img {
		width: 100%;
		height: auto;
		@include at-breakpoint($wide-mobile) {
		  width: auto;
		}
	}
	.anchor {
		display: inline-block;
		width: 45%;
		margin-right: 12px;
		img {
			max-width: 150px;
			max-height: 200px;
			width: 100%;
			height: auto;
		}
	}
	.reviewer {
		display: inline-block;
		width: 45%;
		img {
			max-width: 150px;
			max-height: 200px;
			width: 100%;
			height: auto;
		}
	}
	.name {
		@include adjust-font-size-to($font-size-M, 1.5);
		@include at-breakpoint($pad) {
			@include adjust-font-size-to($font-size-L, 1.5);
		}
	}
	.label {
		display: inline-block;
		color: $pte-red;
		margin-right: 6px;
	}
}
