@keyframes fade {
0%   {opacity:0;}
50%   {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes fade {
0%   {opacity:0;}
50%   {opacity:1;}
100% {opacity:0;}
}

@-moz-keyframes fade {
0%   {opacity:0;}
50%   {opacity:1;}
100% {opacity:0;}
}

@-o-keyframes fade {
0%   {opacity:0;}
50%   {opacity:1;}
100% {opacity:0;}
}

.block-live {
	@include trailer(2);
	background: $title-block-background;
}

.live-group {
	padding: 36px 0;
	@include pie-clearfix;
	@include at-breakpoint($pad) {
	  width: columns(9);
	  margin: 0 auto;
	}
	.live-item {
		position: relative;
		display: block;
		@include at-breakpoint($pad) {
		  @include span-columns(3,9);
		  @include nth-omega(3n);
		}
		.live-photo {
			border: 2px solid white;
			background: white;
			@include box-shadow(0px 5px 5px rgba(black,.3));
			@include transition(.5s);
			@include transform(scale(.9));
			img {
				display: block;
				width: 100%;
			}
		}
		&:hover .live-photo {
			@include transform(scale(1));
		}
		.live-tag {
			position: absolute;
			top: 3px;
			right: 3px;
			padding: 0 rhythm(.25);
			@include adjust-font-size-to($font-size-L);
			font-weight: bold;
			color: white;
			@include text-shadow( 0 3px 7px rgba(black, .75) );
			&:before {
				display: inline-block;
				width: 14px;
				height: 14px;
				content: "";
				background-color: red;
				@include border-radius(7px);
				@include box-shadow( 0 3px 7px rgba(black, .75) );
			}
		}
		&:hover .live-tag {
			&:before {
				animation: fade 1s forwards;
			  -webkit-animation: fade 1s forwards;
			  -moz-animation: fade 1s forwards;
			  -o-animation: fade 1s forwards;
			  animation-iteration-count: infinite;
			  -webkit-animation-iteration-count: infinite;
			  -moz-animation-iteration-count: infinite;
			  -o-animation-iteration-count: infinite;
			}
		}
	}
	.live-item-title {
		@include leader(.25);
		@include trailer(.25);
		@include link-colors($pte-black);
		text-align: center;
	}
}

.live-title {
  text-align: center;
  @include adjust-font-size-to(13px);
  background-color: black;
  color: #ffe229;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
}

.post-group {
	&.single {
		.post-item {
			@include at-breakpoint($pad) {
			  width: columns(12);
			}
		}
	}
	&.quad {
		.post-item {
			@include at-breakpoint($pad) {
			  width: columns(6);
			  margin: 0 gutter($total-columns) gutter($total-columns) 0;
			  &:nth-child(2n) {
				  margin-right: 0;
				}
			}
		}
	}
}

// .home {
// 	.header {
// 		position: relative;
// 		z-index: 1;
// 		background: rgba($header-background, .85);
// 	}
// 	.nav {
// 		position: relative;
// 		z-index: 2;
// 	}
// }
