@keyframes fade {
0%   { opacity: 1; }
50%  { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes fade {
0%   { opacity: 1; }
50%  { opacity: 0; }
100% { opacity: 1; }
}

@-moz-keyframes fade {
0%   { opacity: 1; }
50%  { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fade {
0%   { opacity: 1; }
50%  { opacity: 0; }
100% { opacity: 1; }
}

.block-live {
	position: relative;
	padding: rhythm(1) 0;
	background: #282828;
	@include background( radial-gradient(#555555, #000000) );
	.title-block {
		border-bottom-color: #FFCF02;
	}
	.title {
		color: #FFCF02;
	}
}
.live-group {
	text-align: center;
	@include pie-clearfix;
	@include at-breakpoint($desktop) {
	  width: columns(10);
	  margin: 0 auto;
	}
	.live-item {
		position: relative;
		display: inline-block;
		margin: rhythm(.5) rhythm(.2);
		vertical-align: top;
		@include at-breakpoint($wide-mobile) {
		  width: columns(2);
		}
		@include at-breakpoint($pad) {
		  width: columns(4);
		}
		.live-photo {
			background: white;
			border: 1px solid white;
			@include transition(.5s);
			&:hover {
				border-color: #FFCF02;
			}
			img {
				display: block;
				width: 100%;
			}
		}
		.live-tag {
			position: absolute;
			top: 3px;
			right: 3px;
			padding: 0 rhythm(.25);
			@include adjust-font-size-to($font-size-L);
			font-weight: bold;
			color: white;
			@include text-shadow( 0 3px 7px rgba(black, .75) );
			&:before {
				display: inline-block;
				width: 14px;
				height: 14px;
				content: "";
				background-color: red;
				@include border-radius(7px);
				@include box-shadow( 0 3px 7px rgba(black, .75) );
			}
		}
		&:hover .live-tag {
			&:before {
				animation: fade 1s forwards;
			  -webkit-animation: fade 1s forwards;
			  -moz-animation: fade 1s forwards;
			  -o-animation: fade 1s forwards;
			  animation-iteration-count: infinite;
			  -webkit-animation-iteration-count: infinite;
			  -moz-animation-iteration-count: infinite;
			  -o-animation-iteration-count: infinite;
			}
		}
	}
	.live-item-title {
		@include padding-leader(.5);
		@include padding-trailer(.5);
		@include link-colors(white);
		text-align: center;
		.live-committee {
			color: $pte-gray-light;
		}
	}
}

.live-title {
  text-align: center;
  @include adjust-font-size-to(13px);
  background-color: black;
  color: #ffe229;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
}

.post-group {
	&.single {
		.post-item {
			@include at-breakpoint($wide-mobile) {
			  width: columns(6);
			}
			@include at-breakpoint($pad) {
			  width: columns(12);
			}
			.post-title {
				padding: 0% 2.5% 1% 2.5%;
			}
			.post-preview {
				height: 56px;
				padding: 1% 2.5%;
			}
		}
	}
	&.quad {
		.post-item {
			@include at-breakpoint($pad) {
			  width: columns(6);
			  margin: 0 gutter($total-columns) gutter($total-columns) 0;
			  &:nth-child(2n) {
				  margin-right: 0;
				}
			}
		}
	}
}

.slogan {
	margin-bottom: rhythm(2);
	background: $title-block-background;
	.slogan-content {
		padding: rhythm(.5) 0 rhythm(1);
		color: $pte-gray-light;
		@include adjust-font-size-to($font-size-L, 2);
		text-align: center;
		@include at-breakpoint($pad) {
		  @include adjust-font-size-to($font-size-XL);
		}
	}
	.slogan-mark {
		position: relative;
		top: 15px;
		display: inline-block;
		@include replace-text-with-dimensions("icon_mark.png");
		background-image: none, image-url("icon_mark.svg");
	}
}

.index-avatar {
	text-align: center;
}

.musouinfo {
	position: relative;
	@include padding-leader(1);
	background: $footer-background-color;
	.container {
		border-bottom: 1px solid darken($global-divider, 5%);
	}
	.title-block {
		border-bottom-color: darken($global-divider, 5%);
	}
}

.skew-block {
	height: 58px;
	@include leader(1);
	margin-bottom: -28px;
	@include skew(0deg, -2deg);
	background: $footer-background-color;
}
