.legislator-header {
	.legislator-avatar {
		float: left;
		margin-right: rhythm(1);
		img {
			@include border-radius(5px);
		}
	}
	.legislator-info {
		float: left;
		.name {
			@include adjust-font-size-to($font-size-XL);
			@include at-breakpoint($wide-mobile) {
			  @include leader(.5);
			  @include trailer(.5);
			}
			.party {
				display: inline-block;
				width: 30px;
				vertical-align: middle;
			}
		}

		.link {
			@include adjust-font-size-to($font-size-S);
			@include at-breakpoint($pad) {
			  @include adjust-font-size-to($font-size-M);
			}
			%link-icon {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin-top: -4px;
				vertical-align: middle;
			}
			.facebook {
				display: block;
				margin-right: rhythm(1);
				@include trailer(.25);
				.icon-fb {
					@extend %link-icon;
					@include replace-text-with-dimensions("icon_facebook.png");
			    background-image: none, image-url("icon_facebook.svg");
				}
				@include at-breakpoint($wide-mobile) {
				  display: inline-block;
				}
			}
			.wiki {
				display: block;
				margin-right: rhythm(1);
				@include trailer(.25);
				.icon-wiki {
					@extend %link-icon;
					@include replace-text-with-dimensions("icon_wiki.png");
			    background-image: none, image-url("icon_wiki.svg");
				}
				@include at-breakpoint($wide-mobile) {
				  display: inline-block;
				}
			}
			.govly {
				display: block;
				margin-right: rhythm(1);
				@include trailer(.25);
				.icon-govly {
					@extend %link-icon;
					@include replace-text-with-dimensions("icon_govly.png");
			    background-image: none, image-url("icon_govly.svg");
				}
				@include at-breakpoint($wide-mobile) {
				  display: inline-block;
				}
			}
		}
	}
}
.record {
	min-height: rhythm(3.5);
	height: rhythm(3.5);
	overflow: hidden;
	&.open {
		height: auto;
		overflow: auto;
	}
}
.more-record {
	cursor: pointer;
	&:before {
		content: "＋";
		width: 26px;
		height: 25px;
		margin-right: rhythm(.125);
		padding: 0 1px 1px 1px;
		color: white;
		background-color: $pte-black;
		@include border-radius(3px);
	}
	&:hover {
		&:before {
			background-color: $pte-red;
		}
	}
}