.post-group {
	&.topic-news {
	  .post-item {
	  	@include at-breakpoint($desktop) {
	  	  width: columns(4, $total-columns);
				margin: 0 gutter($total-columns) gutter($total-columns) 0;
			  &:nth-child(3n) {
			  	margin-right: 0;
		  	}
		  }
		  &:after {
		  	border: 5px solid transparent;
				border-right: 5px solid $pte-black;
				border-bottom: 5px solid $pte-black;
		  }
		  &:hover {
		  	&:after {
		  		border: 8px solid transparent;
					border-right: 8px solid $pte-red;
					border-bottom: 8px solid $pte-red;
		  	}
		  }
		}
	}
}

.topic-intro {
	@include trailer(1);
}
.topic-content {
	@include pie-clearfix;
}

.post-timeline {
	position: relative;
	.topic-news {
		margin-left: rhythm(1);
	}
	.timeline-title {
		position: relative;
		z-index: 2;
		padding-left: rhythm(.5);
		@extend .sub-title;
		&:before {
			content: "";
			position: absolute;
			top: 30%;
			left: -6px;
			width: 10px;
			height: 10px;
			background-color: $pte-red;
			@include border-radius(100%);
			@include at-breakpoint($pad) {
			  top: 42%;
			}
		}
		&.start {
			color: $pte-lightgray-dark;
			&:before {
				background-color: $pte-lightgray-dark;
			}
		}
	}
	.timeline-bar {
		position: absolute;
		top: 12px;
		left: -2px;
		bottom: 12px;
		width: 2px;
		background: $pte-lightgray-dark;
		@include at-breakpoint($pad) {
		  top: 24px;
		  bottom: 24px;
		}
	}
}
